$icomoon-font-family: "finshop-icons" !default;
$icomoon-font-path: "fonts" !default;

$fsi-circle-check-off: "\e909";
$fsi-circle-check-on: "\e91c";
$fsi-circle-attention: "\e904";
$fsi-circle-checked: "\e905";
$fsi-circle-equals: "\e906";
$fsi-arrow-down: "\e907";
$fsi-arrow-up: "\e908";
$fsi-circle-clock: "\e90a";
$fsi-circle-desktop: "\e90b";
$fsi-circle-error: "\e90c";
$fsi-circle-eye: "\e90d";
$fsi-circle-message: "\e90e";
$fsi-circle-mobile: "\e90f";
$fsi-circle-out: "\e910";
$fsi-circle-oval: "\e911";
$fsi-circle-play: "\e912";
$fsi-circle-reload: "\e913";
$fsi-circle-tablet: "\e914";
$fsi-circle-time: "\e915";
$fsi-close: "\e916";
$fsi-cube: "\e917";
$fsi-info: "\e918";
$fsi-menu: "\e919";
$fsi-reload: "\e91a";
$fsi-search: "\e91b";
$fsi-logo: "\e900";
$fsi-logo-sm: "\e91d";
$fsi-arrow-left-long: "\e901";
$fsi-arrow-right-long: "\e902";
$fsi-circle-filled: "\e903";
$fsi-camera: "\e91e";
$fsi-undo: "\e965";
$fsi-redo: "\e966";
$fsi-undo2: "\e967";
$fsi-redo2: "\e968";
$fsi-forward: "\e969";
$fsi-reply: "\e96a";
$fsi-bin: "\e9ac";
$fsi-bin2: "\e9ad";
$fsi-cross: "\ea0f";
$fsi-checkmark: "\ea10";
$fsi-checkmark2: "\ea11";
$fsi-loop: "\ea2d";
$fsi-loop2: "\ea2e";

